<span class="table-of-contents-list">Python</span>
<ul class="table-of-contents-list">
    <li><a href="./python-basic">Python 기본</a></li>
    <li><a href="./python-st">Python 숫자 계산하기</a></li>
    <li><a href="./python-st">Python 변수 만들기</a></li>
    <li><a href="./python-st">Python 출력 방법</a></li>
    <li><a href="./python-st">Python 불과 비교, 논리 연산자</a></li>
    <li><a href="./python-st">Python 문자열 사용하기</a></li>
    <li><a href="./python-st">Python 리스트와 튜플 사용하기</a></li>
    <li><a href="./python-st">Python 시퀀스 자료형 활용하기</a></li>
    <li><a href="./python-st">Python 딕셔너리 사용하기</a></li>
    <li><a href="./python-st">Python if 조건문으로 특정 조건일 때 코드 실행하기</a></li>
    <li><a href="./python-st">Python else를 사용하여 두 방향으로 분기하기</a></li>
    <li><a href="./python-st">Python elif를 사용하여 두 방향으로 분기하기</a></li>
    <li><a href="./python-st">Python for 반복문</a></li>
    <li><a href="./python-st">Python while 반복문</a></li>
    <li><a href="./python-st">Python break, continue로 반복문 제어하기</a></li>
    <li><a href="./python-st">Python 중첩루프</a></li>
    <li><a href="./python-st">Python FizzBuzz 문제</a></li>
    <li><a href="./python-st">Python 터틀 그래픽스로 그림 그리기</a></li>
</ul>